*{
    text-decoration: none; /* Quítale el subrayado */
    /* background-color: #786452; */
}

/* ------------------------------- */
    .arriba{
        padding-bottom: 200px;
        background-color: #EFFFC8;
    }
        .barra{
            /* background-color: #333; */
            background-color: #3F0D12;
            color: #fff;
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
        }
            .logo{
                color: #fff;
                text-decoration: none;
                font-weight: bold;
                font-size: 24px;
            }
            .logo a{
                color: #fff;
            }
            .navegacion{
                display: flex;
                gap: 20px;
            }
                .navegacion a{
                    color: #fff;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 18px;
                }
                .navegacion1{
                    
                }
                .navegacion2{
                    
                }
                .navegacion3{
                    
                }
            .iniciarSesion{

            }
                .iniciarSesion a{
                    color: #fff;
                }
        .banner{
            
        }
            .bannerContenedor {
                display: flex;
                justify-content: space-between;
            }
                .contenido {
                    flex-grow: 1;
                    display: none;
                    border: 1px solid #ccc;
                    padding: 300px;
                    border-radius: 25px;
                }
                    .fondoContenido1 {
                        text-align: center;
                        background-image: url('../img/promocion1.jpg'); /* Reemplaza 'ruta-de-tu-imagen.jpg' con la ruta de tu imagen de fondo */
                        background-size: cover; /* Ajusta la imagen para cubrir todo el contenido */
                        background-repeat: no-repeat; /* Evita que la imagen se repita */
                        /*background-attachment: fixed;*//* Fija la imagen de fondo */
                    }
                    .fondoContenido2 {
                        text-align: center;
                        background-image: url('../img/promocion2.jpg'); /* Reemplaza 'ruta-de-tu-imagen.jpg' con la ruta de tu imagen de fondo */
                        background-size: cover; /* Ajusta la imagen para cubrir todo el contenido */
                        background-repeat: no-repeat; /* Evita que la imagen se repita */
                    /* background-attachment: fixed; *//* Fija la imagen de fondo */
                    }
                    .fondoContenido3 {
                        text-align: center;
                        background-image: url('../img/promocion3.jpg'); /* Reemplaza 'ruta-de-tu-imagen.jpg' con la ruta de tu imagen de fondo */
                        background-size: cover; /* Ajusta la imagen para cubrir todo el contenido */
                        background-repeat: no-repeat; /* Evita que la imagen se repita */
                        /* background-attachment: fixed; Fija la imagen de fondo */
                    }
                    /* texto del banner */
                    .promocion {
                        display: inline-block;
                        background-color: #ffffff5d;
                        color: #333;
                        padding: 10px 20px;
                        text-decoration: none;
                        font-weight: bold;
                        border-radius: 25px;
                        margin-top: 10px;
                    }
                    /* Estilos para los botones de navegación del banner */
                    .botonIzquierdo,
                    .botonDerecho {
                        /* background-color: rgba(255, 255, 255, 0.7); */
                        background-color: #262626;
                        color: #ffffff;
                        border: none;
                        padding: 10px 20px;
                        font-weight: bold;
                        border-radius: 5px;
                        cursor: pointer;
                    }

    /* ------------------------------------------------------------------- */
    /* contenido principal de la página */
    .medio{
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        height: 100vh; /* Establece la altura al 100% del viewport */
        flex-direction: column; /* Coloca las secciones en una columna */
        padding-bottom: 400px;
        background-color: #EFFFC8;
    }
        
        .seccion1{
            display: flex;
            padding: 200px;
            

        }   
            .ariculo1{

            }
            .titulo1{
                text-align: center;
            }
            .seccion1Banner{
                position: relative; /* Establece la posición relativa para el contenedor */
                background-image: url('../img/banner1.jpg'); /* Reemplaza 'tu-imagen.jpg' con la URL o ruta a tu imagen de fondo */
                background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
                background-position: center; /* Centra la imagen en el contenedor */
                height: 200px; /* Ajusta la altura según tus necesidades */
                width: 800px;
                color: #fff; /* Color de texto para que contraste con la imagen de fondo */
                text-align: center; /* Centra el contenido horizontalmente */
                border-radius: 50px;
            }
                .seccion1BannerContenido{
                    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con un poco de transparencia */
                    padding: 20px; /* Agrega espacio alrededor del contenido */
                    position: absolute; /* Establece la posición absoluta para el contenido */
                    top: 50%; /* Centra verticalmente el contenido */
                    left: 50%; /* Centra horizontalmente el contenido */
                    transform: translate(-50%, -50%); /* Centra el contenido completamente */
                    text-align: center; /* Centra el contenido horizontalmente */
                    border-radius: 50px;
                }
                    .seccion1BannerContenido a{
                        color: #000;
                    }
/* -------------------------------------------------------------- */

          /* Estilos para mostrar los artículos uno junto al otro y centrados en la página */
        .seccion2 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Centrar verticalmente en la página */
        }

            .articulos {
                margin: 10px; /* Espacio entre los artículos */
                padding: 20px;
                /* border: 1px solid #ccc; */
                text-align: center;
            }

                /* Estilos para las imágenes dentro de los artículos */
                .imagenArticulo {
                    width: 300px; /* Establecer el ancho en 300px */
                    height: 300px; /* Establecer la altura en 300px */
                    object-fit: cover; /* Para mantener la relación de aspecto y ajustar la imagen en el contenedor */
                    border-radius: 50px;
                }

    /* ------------------------------------- */
    /* Agrega este código debajo de las reglas CSS existentes */
    .abajo {
        display: flex;
        justify-content: center; /* Centrar horizontalmente */
        align-items: center; /* Centrar verticalmente */
        background-color: #3F0D12; /* Color de fondo del footer */
        color: #fff; /* Color del texto en el footer */
        padding: 20px; /* Espaciado interno */
    }

    .redes-sociales {
        display: flex;
        gap: 20px; /* Espaciado entre los iconos de redes sociales */
    }

    .social-icon {
        font-size: 24px; /* Tamaño de fuente de los iconos */
        color: #fff; /* Color de los iconos */
        text-decoration: none; /* Eliminar subrayado enlaces */
        transition: color 0.3s; /* Transición de color al pasar el mouse */
    }

    .social-icon:hover {
        color: #007bff; /* Cambiar el color al pasar el mouse */
    }


/* ------------------------- */
/* hover all */
a:hover{
    color: #a40479;
}
button:hover{
    color: #cb0697;
}