/* Resetear estilos por defecto del navegador */
body, h1, h2, form, label, select, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url(../img/fondo2.jpg);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #D5BF86;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

/* Estilos para el formulario */
form {
    background-color: #F1F0CC;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    appearance: none;
    padding-right: 30px;
    background-image: url("arrow-down.png"); /* Cambia la URL de la flecha según tu necesidad */
    background-repeat: no-repeat;
    background-position: 100% center;
}

/* Estilos para los botones */
button[type="submit"],
button[type="button"] {
    padding: 10px 20px;
    background-color: #3F0D12;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #7b0a15;
}
