/* Resetear estilos por defecto del navegador */
body, h1, form, label, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background: url(../img/fondologin.jpg) center/cover no-repeat;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 24px;
    margin: 20px 0;
}

/* Estilos para el formulario */
#loginForm {
    
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
    text-align: left;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.72); /* Fondo blanco con transparencia */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    outline: none;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background: #3F0D12;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background: #7b0a15;
}

/* Estilos para el botón de regreso */
#regresar-usuario {
    padding: 10px 20px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

#regresar-usuario:hover {
    background: #555;
}

