*{
    text-decoration: none; /* Quítale el subrayado */

}

/* ------------------------------- */
    .arriba{
        
    }
        .barra{
            background-color: #3F0D12;
            color: #fff;
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
        }
            .logo{
                color: #fff;
                text-decoration: none;
                font-weight: bold;
                font-size: 24px;
            }
            .logo a{
                color: #fff;
            }
            .navegacion{
                display: flex;
                gap: 20px;
            }
                .navegacion a{
                    color: #fff;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 18px;
                }
                .navegacion1{
                    
                }
                .navegacion2{
                    
                }
                .navegacion3{
                    
                }
            .iniciarSesion{

            }
                .iniciarSesion a{
                    color: #fff;
                }

/* perfil */
/* Resetear estilos por defecto del navegador */
body, h1, h2, nav, a, button, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/fondoperfil.jpg);
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(213, 191, 134, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}
/* Estilos para el perfil */
#user-profile {
    background-color: rgba(213, 191, 134, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: left;
}

button[type="button"] {
    padding: 10px 20px;
    background-color: #3F0D12;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #7b0a15;
}
