/* Resetear estilos por defecto del navegador */
body, h2, form, label, input, button, .container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(./img/fondologin.jpg);
    background-size: cover; /* Ajusta el fondo para cubrir todo el contenido */
    background-position: center center; /* Centra el fondo horizontal y verticalmente */
    background-repeat: no-repeat; /* Evita que el fondo se repita */
}

.container {
    max-width: 400px;
    padding: 20px;
    /* background-color: #ffffff; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.72); /* Fondo blanco con transparencia */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



h2 {
    color: #333;
    margin-bottom: 20px;
}

/* Estilos para el formulario */
#inicio-sesion-form {
    padding: 20px;
    text-align: center; /* Centra el contenido del formulario */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

button[type="submit"] {
    display: block; /* Hacer que el botón ocupe todo el ancho del formulario */
    margin: 0 auto; /* Centrar el botón horizontalmente */
    padding: 10px 20px;
    background-color: #3F0D12;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #7b0a15;
}

/* Resto del código CSS se mantiene igual */


/* Estilos para mensajes */
#message {
    color: #ff0000;
    margin-top: 10px;
    font-size: 14px;
}

/* Estilos para los botones */
button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
/* coso 2---------------------- */
/* Resetear estilos por defecto del navegador */
body, h1, form, label, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background: url(./img/fondologin.jpg) center/cover no-repeat;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 24px;
    margin: 20px 0;
}

/* Estilos para el formulario */
#loginForm {
    
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
    text-align: left;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.72); /* Fondo blanco con transparencia */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    outline: none;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background: #3F0D12;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background: #7b0a15;
}

/* Estilos para el botón de regreso */
#regresar-usuario {
    padding: 10px 20px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

#regresar-usuario:hover {
    background: #555;
}

/* coso 3 */
/* Resetear estilos por defecto del navegador */
body, h2, form, label, input, button, .container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    /* background-color: #8D775F; */
    background-image: url(./img/fondologin.jpg);
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(213, 191, 134, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: left;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilos para el formulario */
#registro-form {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #3F0D12;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #7b0a15;
}

/* Estilos para el mensaje */
#message {
    color: #ff0000;
    margin-top: 10px;
    font-size: 14px;
}

/* Estilos para los botones de regreso */
button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #555;
}
/*coso 4*/
/* Resetear estilos por defecto del navegador */
body, h1, h2, ul, li, button {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    outline: none;
    font-family: Arial, sans-serif;
}

/* Estilos generales */
body {
    background-image: url(./img/fondo1.jpg);
    background-size: cover; /* Ajusta el fondo para cubrir todo el contenido */
    background-position: center center; /* Centra el fondo horizontal y verticalmente */
    background-repeat: no-repeat; /* Evita que el fondo se repita */
    font-size: 16px;
    padding-bottom: 200px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con transparencia */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

/* Estilos para la lista de servicios */
#lista-servicios {
    text-align: left;
    margin-bottom: 20px;
}

#lista-servicios li {
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para los botones */
button {
    padding: 10px 20px;
    background-color: #3F0D12;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #7b0a15;
}

/* Estilos para enlaces */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* coso 4 */
/* Resetear estilos por defecto del navegador */
body, h1, form, label, input, button, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;;
    text-align: center;
    /* padding: 20px; */
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para el formulario */
#registroForm {
    background-color: #F1F0CC;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    color: #333;
    margin-right: 10px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

button {
    background-color: #3F0D12;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color:  #7b0a15;
}

/* Estilos para la lista de textos registrados */
ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #EFFFC8;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;

}
/* coso 5 */
*{
    text-decoration: none; /* Quítale el subrayado */
    /* background-color: #786452; */
}

/* ------------------------------- */
    .arriba{
        padding-bottom: 200px;
        background-color: #EFFFC8;
    }
        .barra{
            /* background-color: #333; */
            background-color: #3F0D12;
            color: #fff;
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
        }
            .logo{
                color: #fff;
                text-decoration: none;
                font-weight: bold;
                font-size: 24px;
            }
            .logo a{
                color: #fff;
            }
            .navegacion{
                display: flex;
                gap: 20px;
            }
                .navegacion a{
                    color: #fff;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 18px;
                }
                .navegacion1{
                    
                }
                .navegacion2{
                    
                }
                .navegacion3{
                    
                }
            .iniciarSesion{

            }
                .iniciarSesion a{
                    color: #fff;
                }
        .banner{
            
        }
            .bannerContenedor {
                display: flex;
                justify-content: space-between;
            }
                .contenido {
                    flex-grow: 1;
                    display: none;
                    border: 1px solid #ccc;
                    padding: 300px;
                    border-radius: 25px;
                }
                    .fondoContenido1 {
                        text-align: center;
                        background-image: url('./img/promocion1.jpg'); /* Reemplaza 'ruta-de-tu-imagen.jpg' con la ruta de tu imagen de fondo */
                        background-size: cover; /* Ajusta la imagen para cubrir todo el contenido */
                        background-repeat: no-repeat; /* Evita que la imagen se repita */
                        /*background-attachment: fixed;*//* Fija la imagen de fondo */
                    }
                    .fondoContenido2 {
                        text-align: center;
                        background-image: url('./img/promocion2.jpg'); /* Reemplaza 'ruta-de-tu-imagen.jpg' con la ruta de tu imagen de fondo */
                        background-size: cover; /* Ajusta la imagen para cubrir todo el contenido */
                        background-repeat: no-repeat; /* Evita que la imagen se repita */
                    /* background-attachment: fixed; *//* Fija la imagen de fondo */
                    }
                    .fondoContenido3 {
                        text-align: center;
                        background-image: url('./img/promocion3.jpg'); /* Reemplaza 'ruta-de-tu-imagen.jpg' con la ruta de tu imagen de fondo */
                        background-size: cover; /* Ajusta la imagen para cubrir todo el contenido */
                        background-repeat: no-repeat; /* Evita que la imagen se repita */
                        /* background-attachment: fixed; Fija la imagen de fondo */
                    }
                    /* texto del banner */
                    .promocion {
                        display: inline-block;
                        background-color: #ffffff5d;
                        color: #333;
                        padding: 10px 20px;
                        text-decoration: none;
                        font-weight: bold;
                        border-radius: 25px;
                        margin-top: 10px;
                    }
                    /* Estilos para los botones de navegación del banner */
                    .botonIzquierdo,
                    .botonDerecho {
                        /* background-color: rgba(255, 255, 255, 0.7); */
                        background-color: #262626;
                        color: #ffffff;
                        border: none;
                        padding: 10px 20px;
                        font-weight: bold;
                        border-radius: 5px;
                        cursor: pointer;
                    }

    /* ------------------------------------------------------------------- */
    /* contenido principal de la página */
    .medio{
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        height: 100vh; /* Establece la altura al 100% del viewport */
        flex-direction: column; /* Coloca las secciones en una columna */
        padding-bottom: 400px;
        background-color: #EFFFC8;
    }
        
        .seccion1{
            display: flex;
            padding: 200px;
            

        }   
            .ariculo1{

            }
            .titulo1{
                text-align: center;
            }
            .seccion1Banner{
                position: relative; /* Establece la posición relativa para el contenedor */
                background-image: url('./img/banner1.jpg'); /* Reemplaza 'tu-imagen.jpg' con la URL o ruta a tu imagen de fondo */
                background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
                background-position: center; /* Centra la imagen en el contenedor */
                height: 200px; /* Ajusta la altura según tus necesidades */
                width: 800px;
                color: #fff; /* Color de texto para que contraste con la imagen de fondo */
                text-align: center; /* Centra el contenido horizontalmente */
                border-radius: 50px;
            }
                .seccion1BannerContenido{
                    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con un poco de transparencia */
                    padding: 20px; /* Agrega espacio alrededor del contenido */
                    position: absolute; /* Establece la posición absoluta para el contenido */
                    top: 50%; /* Centra verticalmente el contenido */
                    left: 50%; /* Centra horizontalmente el contenido */
                    transform: translate(-50%, -50%); /* Centra el contenido completamente */
                    text-align: center; /* Centra el contenido horizontalmente */
                    border-radius: 50px;
                }
                    .seccion1BannerContenido a{
                        color: #000;
                    }
/* -------------------------------------------------------------- */

          /* Estilos para mostrar los artículos uno junto al otro y centrados en la página */
        .seccion2 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Centrar verticalmente en la página */
        }

            .articulos {
                margin: 10px; /* Espacio entre los artículos */
                padding: 20px;
                /* border: 1px solid #ccc; */
                text-align: center;
            }

                /* Estilos para las imágenes dentro de los artículos */
                .imagenArticulo {
                    width: 300px; /* Establecer el ancho en 300px */
                    height: 300px; /* Establecer la altura en 300px */
                    object-fit: cover; /* Para mantener la relación de aspecto y ajustar la imagen en el contenedor */
                    border-radius: 50px;
                }

    /* ------------------------------------- */
    /* Agrega este código debajo de las reglas CSS existentes */
    .abajo {
        display: flex;
        justify-content: center; /* Centrar horizontalmente */
        align-items: center; /* Centrar verticalmente */
        background-color: #3F0D12; /* Color de fondo del footer */
        color: #fff; /* Color del texto en el footer */
        padding: 20px; /* Espaciado interno */
    }

    .redes-sociales {
        display: flex;
        gap: 20px; /* Espaciado entre los iconos de redes sociales */
    }

    .social-icon {
        font-size: 24px; /* Tamaño de fuente de los iconos */
        color: #fff; /* Color de los iconos */
        text-decoration: none; /* Eliminar subrayado enlaces */
        transition: color 0.3s; /* Transición de color al pasar el mouse */
    }

    .social-icon:hover {
        color: #007bff; /* Cambiar el color al pasar el mouse */
    }


/* ------------------------- */
/* hover all */
a:hover{
    color: #a40479;
}
button:hover{
    color: #cb0697;
}